In [1]:
import utils
import numpy as np
import pandas as pd

In [2]:
# load h5py data
full_data_file = utils.load_data('../data/P1 DHBR Roi2 6x6_TileScan_001_Merging_Crop_0_batch.ims')

In [4]:
def get_statistics_dict(dataframe, point):
    '''
    args:
        dataframe -- original imaris file in hd5py format
        point -- string to choose which point to use as the 'key'
    function:
        creates a dictionary that maps the numeric id to the statics type name
    return:
        the mapped dictionary
    interactions:
        none atm
    status: 
        done
    '''
    
    point_data = dataframe['Scene8']['Content'][point]
    
    statistics_name = np.asarray(point_data['StatisticsType'])
    statistics_name = pd.DataFrame(statistics_name)
    stats_name = statistics_name['Name']
    stats_type = statistics_name['ID']
    
    return  dict(zip(stats_type, stats_name))

# get the statistics dict
# a dictionary containing key=numeric value, valu = name
stats_dict = get_statistics_dict(full_data_file, 'MegaSurfaces0')

# we can keep the file I wrote in june 2022, its the same idea

In [7]:
def get_stats(dataframe, point, category_type):
    '''
    args:
        dataframe -- full dataframe
        point -- ex: 'Point 0'
        category_type: the category of the statictics
    '''
    data = dataframe.get('Scene8').get('Content')[point][category_type]
    data = np.asarray(data)
    return pd.DataFrame(data)

track_id_data = get_stats(full_data_file, 'MegaSurfaces0', 'StatisticsValue').drop('ID_Time', axis=1)
track_id_data
# we can keep the get stats values function, its the same as this one.

         ID_Object  ID_StatisticsType         Value
0               -1                 10  0.000000e+00
1               -1                 11  3.159900e+04
2               -1                 12  3.159900e+04
3               -1                 13  4.902622e+07
4               -1                 14  2.294315e+07
...            ...                ...           ...
3602288      34189                243  1.531459e+03
3602289      34190                243  3.250347e+03
3602290      34191                243  4.428448e+03
3602291      34192                243  2.037160e+03
3602292      34193                243  1.560730e+04

[3602293 rows x 3 columns]

In [31]:
#empty_data_dict = {key: {} for key in list(track_id_data['ID_Object'])}

In [5]:
# counter = 6
# for idx in range(len(track_id_data)):
        
#     current_data = track_id_data.iloc[idx]
#     object_id = current_data['ID_Object']
#     stats_type = current_data['ID_StatisticsType']
#     value = current_data['Value']
            
#     # insert
#     try:
#         empty_data_dict[object_id][stats_type] = value
#     except KeyError:
#         pass

In [8]:
new = track_id_data.groupby('ID_Object')[
    ['ID_StatisticsType', 'Value']].apply(lambda x: x.set_index('ID_StatisticsType').to_dict(orient='dict')).to_dict()

new = {k: v['Value'] for k, v in new.items()}

In [9]:
pd.DataFrame(new).transpose()

,10,11,12,13,14,234,235,208,386,387,...,455,456,829,832,838,23627,242,457,458,243
-1,0.0,31599.0,31599.0,49026216.0,22943152.0,31599.0,31599.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1416.449463,15.445801,14.537109,...,1098.804321,8.719857,103.984497,70.556183,0.0,103.984497,0.728735,0.0,1.0,3118.384521
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1439.677612,4.542725,18.171509,...,1084.293945,11.086892,108.208221,83.030891,0.0,108.208221,0.407894,0.0,1.0,1338.113403
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4187.246094,22.714355,24.531494,...,1086.499512,18.480581,99.872391,74.137321,0.0,99.872391,0.627070,0.0,1.0,12651.461914
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.841187,19.080078,15.445801,...,1075.563354,38.868191,102.785751,80.786064,0.0,102.785751,0.757118,0.0,1.0,5540.032715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1317.524536,7.268604,9.994263,...,1114.789185,23.244741,50.536652,34.976704,0.0,50.536652,0.487673,0.0,1.0,1531.459106
34190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1717.538818,23.623047,13.628418,...,1112.963501,101.627502,60.343472,47.800472,0.0,60.343472,0.617823,0.0,1.0,3250.347412
34191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1569.860229,19.988647,15.445557,...,1117.380249,6.088751,62.313019,73.274330,0.0,92.715706,0.830725,0.0,1.0,4428.447754
34192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,910.736938,12.720093,13.628418,...,1113.939209,90.908417,62.687698,89.263580,0.0,102.113998,0.853312,0.0,1.0,2037.160156
34193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3790.991455,25.440125,25.439819,...,1106.237061,53.399658,11.595419,92.240158,0.0,94.667679,0.796679,0.0,1.0,15607.301758